# ---------------------------
# GLOBAL
# ---------------------------
node_modules/
.DS_Store
.env
*.local
*.log

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ---------------------------
# FRONTEND (Vite + React)
# ---------------------------
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# ---------------------------
# CONTRACT BACKEND (Hardhat)
# ---------------------------
contract-backend/node_modules/
contract-backend/cache/
contract-backend/artifacts/
contract-backend/typechain/
contract-backend/typechain-types/
contract-backend/coverage/
contract-backend/coverage.json

# Hardhat Ignition deployments
contract-backend/ignition/deployments/chain-31337/

